<p>Sign In</p>

<div>
    <mat-form-field appearance="outline">
        <mat-label>User ID</mat-label>
        <input matInput placeholder="User Id" [formControl]="userId">
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" [formControl]="password">
    </mat-form-field>
</div>

<div>
    <button mat-flat-button color="primary" (click)="onSignIn()">Sign In</button>
</div>
